// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #B45050;
	}

header_one{
	font-family: sans serif;
}

search{
	font-color: #00FF00;
	text-align: center;
}

paragraph{
	font-color: #00FF00;
}
home_search{
	color: #0000AA;
	align: center;
}