// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-color: #B45050;
}

map{
	margin: 0px;
}

a:link {
    color: #999;
}

h1{
	font-family: helvetica neue;
}

h2{
	font-family: helvetica neue;
}

p{
	font-family: helvetica neue;
}

li{
	font-family: helvetica;
}


